* {
    padding: 0;
    margin: 10px;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
}

html, body #fullheight {
    min-height: 100% !important;
    height: 100%;
    /* font-family: Helvetica, sans-serif; */
    background-color: black;
}

.container {
    height: 100%;
    background-color:black;
}

.result {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    height: 39%;
}

.result span {
    margin-right: 60px;
    font-size: 210px;
    justify-self: flex-end;
}

.buttons {
    width: 100%;
    height: 60%;
    background-color: black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    border-radius: 100%;
    width: 210px;
    height: 210px;
    padding: 10px;
    cursor: pointer;
    align-self: center;
    justify-content: center;
}

.percent {
    background-color: #A5A5A5;
    border: 10px;
    color: black;
}

.item1 {
    background-color: #A5A5A5;
    font-size: 70px;
    font-weight: 600;
    border: 10px;
}

.item3 {
    background-color: #FE9505;
    border: 10px;
}

.numbers, .point {
    background-color: #343434;
    border: 10px;
}

.negative, .clear {
    color: black;
}

.itemZero {
    background-color: #343434;
    width: 435px;
    border-radius: 135px;
    grid-column: span 2;
    border: 10px;
    text-align: left;
}